.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  display: flex;
  flex-direction: column;
  background-color: #27292d;
  padding: 2rem;
  border-radius: 10px;
  border: 2px solid #878787;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 80%;
}

.close-icon-container {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-top: 0;
  background-color: #131319;
  align-self: center;
  justify-content: center;
  cursor: pointer;

  .close-icon{
    width: 20px;
    height: 20px;
    align-self: center;
  }
}

.icon {
  margin-bottom: 50px;
}

.welcome-back {
  font-size: 14px;
  color: #6b6c70;
}

.log-heading {
  color: #ffffff;
  margin-bottom: 2rem;
}

label {
  font-size: 14px;
  color: #c5c7ca;
  margin-bottom: 10px;
}

span {
  font-size: 12px;
  color: #c5c7ca;
  margin-bottom: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  input {
    border-radius: 4px;
    border: 1.5px solid #35373b;
    background: none;
    padding: 10px;
    color: #ffffff;

    &:focus {
      border: "1.5px solid #35373b";
      outline: none;
    }
  }
}

.forgot-password-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-primary-form {
  background-color: #4a96ff;
  border-radius: 4px;
  font-size: 16px;
  color: #ffffff;
  width: 100%;

  &:hover {
    background-color: #4a96ff;
  }
}

.register-container {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
